

body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.section {
    margin-bottom: 20px;
}
.table-container {
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
}
.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.footer-container {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Distribute items along the main axis */
}

.stamp-container {
    flex: 0 0 auto; /* Don't grow, don't shrink, keep initial size */
}

.footer {
    flex: 1; /* Grow to fill remaining space */
    text-align: right;
}
.signature {
    margin-top: 30px;
}

/* _____________doanwload button________ */

.button {
    padding: 0.8rem 4rem;
    border: 1px solid black;
    outline: none;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.953);
    position: relative;
    margin-left: 85%;
    margin-top: 8%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  .button .text {
    position: absolute;
    left: 1.8rem;
    top: 1.0rem;
    transition: 0.4s ease-in-out;
    color: rgb(50, 50, 50);
  }

  .svg {
    transform: translateY(-20px) rotate(30deg);
    opacity: 0;
    width: 2rem;
    transition: 0.4s ease-in-out;
  }

  .button:hover {
    background-color: rgb(50, 50, 50);
  }

  .button:hover .svg {
    display: inline-block;
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }

  .button:hover .text {
    opacity: 0;
  }

  .button:active {
    scale: 0.97;
  }
